<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&display=swap" rel="stylesheet">
    <title>Lista de Músicas</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body class="corpo">
    <div class="container">
        <h1 class="titulo">Lista de Músicas</h1>
        <a class="link center" href="/adicionar_musica">Adicionar Nova Música</a>
        <ul class="lista">
            {% for musica in musica %}
                <li class="item">
                    {{ musica[1] }} - {{ musica[2] }} - {{ musica[3] }} -
                    <a class="link" href="/editar_musica/{{ musica[0] }}">Editar</a>
                    <a class="link" href="/apagar_musica/{{ musica[0] }}">Apagar</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
